<h1>Data binding NgModel</h1>
<p>Name {{ data.name}} </p>
<input type="text" required="" #nameInput="ngModel" [(ngModel)]="data.name" >
<p>Valid: {{ nameInput.valid }} </p>
<p>Name {{ age}} </p>
<input type="number" required="" max="30" min="18" #ageInput="ngModel" [(ngModel)]="age" >
<p>Valid: {{ ageInput.valid }} </p>


<hr><h1>Events Blinding Keyup</h1>
<h2>{{ data.name }}</h2>
<input type="text" [value]="data.name" (keyup)="changeName($event)"/><br />


<hr>
<h1>Events Binding Scroll</h1>
<h3>Position Scroll {{ positionScrollDiv }}</h3>
<div class="box" (scroll)="onScroll($event)">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
  soluta expedita ullam dolorem deleniti ab voluptatibus enim necessitatibus
  reprehenderit error. Qui repellat consequuntur dolores accusantium sequi at
  quas iste molestias? Lorem ipsum dolor sit amet consectetur, adipisicing elit.
  Autem fugiat maxime illum voluptate aspernatur, earum ratione veniam, aliquid
  ex doloribus quod non ullam voluptates beatae animi! Officia libero nemo ad.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem debitis
  nesciunt numquam dolore voluptate nihil mollitia iure cum sunt dignissimos
  perferendis distinctio consectetur aspernatur sit, molestiae necessitatibus
  quibusdam perspiciatis aut!
</div>

<hr />
<h1>Events Binding Click</h1>
<button [disabled]="btnStatus">Send</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{ data.age }}</p>
<button (click)="increaseAge()">Age ++</button>
<button (click)="decreaseAge()">Age --</button>

<hr />
<h1>Property Binding</h1>
<button [disabled]="btnStatus">Send</button>
<input type="text" [value]="data.name" /><br />
<progress max="100" [value]="data.age"></progress>

<hr />
<h1>{{ title }}</h1>
<h2>Age = {{ age }}</h2>
<marquee behavior="" direction="right">
  <h2>
    Simple sum with two private variables and return public variable = {{ sum }}
  </h2>
</marquee>
<img src="{{ random_image }}" alt="Rangom image" width="600" />
